<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.bible.android.activity"
      android:installLocation="auto"
      android:versionName="2.8.1" android:versionCode="216">
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19"/>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
	<!-- allow use on Google TV -->
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true"
	/>
	
	<application android:icon="@drawable/ichthys" android:label="@string/app_name" android:name="net.bible.android.BibleApplication" android:theme="@style/AppThemeDay" android:allowBackup="true">
        <!-- deprecated but necessary to prevent old shortcut breaking -->
        <activity android:name=".StartupActivity"
                  android:label="@string/app_name"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- see Samsung multi-window info at bottom -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.bible.android.view.activity.page.MainBibleActivity"
                  android:label="@string/app_name"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.navigation.ChooseDocument"
                  android:label="@string/chooseBook"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.navigation.GridChoosePassageBook"
                  android:label="@string/choosePassageBookName"
				  android:theme="@style/GridChoosePassageTheme"
                  android:configChanges="keyboardHidden|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.navigation.GridChoosePassageChapter"
                  android:label="@string/choosePassageChapterName"
				  android:theme="@style/GridChoosePassageTheme"
                  android:configChanges="keyboardHidden|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.navigation.GridChoosePassageVerse"
                  android:label="@string/choosePassageVerseName"
				  android:theme="@style/GridChoosePassageTheme"
                  android:configChanges="keyboardHidden|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.search.Search"
                  android:label="@string/search"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale"
                  android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name="net.bible.android.view.activity.search.SearchResults"
                  android:label="@string/search"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.search.SearchIndex"
                  android:label="@string/search_index"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.search.SearchIndexProgressStatus"
                  android:label="@string/search_index"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.footnoteandref.FootnoteAndRefActivity"
                  android:label="@string/notes"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.bookmark.Bookmarks"
                  android:label="@string/bookmarks"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
		<activity android:name="net.bible.android.view.activity.bookmark.ManageLabels"
				  android:label="@string/manage_labels"
				  android:configChanges="keyboardHidden|orientation|screenSize|locale">
		</activity>
        <activity android:name="net.bible.android.view.activity.bookmark.BookmarkLabels"
                  android:label="@string/bookmark_labels"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.comparetranslations.CompareTranslations"
                  android:label="@string/compare_translations"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.mynote.MyNotes"
                  android:label="@string/mynotes"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.navigation.ChooseDictionaryWord"
                  android:label="@string/dictionary"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.navigation.genbookmap.ChooseGeneralBookKey"
                  android:label="@string/general_book"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.navigation.genbookmap.ChooseMapKey"
                  android:label="@string/doc_type_map"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.readingplan.ReadingPlanSelectorList"
                  android:label="@string/rdg_plan_selector_title"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.readingplan.DailyReadingList"
                  android:label="@string/rdg_plan_title"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.readingplan.DailyReading"
                  android:label="@string/rdg_plan_title"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.settings.SettingsActivity"
                  android:label="@string/settings"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.navigation.History"
                  android:label="@string/history"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.speak.Speak"
                  android:label="@string/speak"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
		<activity android:name="net.bible.android.view.activity.download.FirstDownload"
				  android:label="@string/download"
				  android:configChanges="keyboardHidden|orientation|screenSize|locale">
		</activity>
        <activity android:name="net.bible.android.view.activity.download.Download"
                  android:label="@string/download"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity android:name="net.bible.android.view.activity.download.DownloadStatus"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale"
                  android:label="@string/progress_status">
        </activity>
        <activity android:name="net.bible.android.view.activity.download.ProgressStatus"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale"
                  android:label="@string/progress_status">
        </activity>
        <activity android:name="net.bible.android.view.activity.help.Help"
                  android:label="@string/help"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale">
        </activity>
        <activity
            android:name="net.bible.android.view.activity.installzip.InstallZip"
            android:label="@string/install_zip" >
        </activity>
        
        <!-- allow use with Samsung Note multi-window http://stackoverflow.com/questions/14111052/adding-multi-window-support-to-android-application -->
		<uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
		<meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632.0dip" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598.0dip" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632.0dip" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598.0dip" />
	</application>
</manifest> 
