*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
/.idea
/app/huawei
/app/samsung
/app/amazon
/app/release
/app/bibleview-js/node_modules/
/app/bibleview-js/.idea/
/app/src/main/assets/web/.idea/
/app/src/main/assets/web/.sourcemaps/
/app/src/main/assets/web/loader.js
/app/bibleview-js/dist/
/db/build/
*.env.*
/projectFilesBackup/
/app/src/main/assets/web/bibleview-js/
