[submodule "jsword"]
	path = jsword
	url = https://github.com/AndBible/jsword.git
[submodule "app/src/test/roborazzi"]
	path = app/src/test/roborazzi
	url = https://github.com/AndBible/and-bible-goldens.git
[submodule "docs/superpowers"]
	path = docs/superpowers
	url = git@github.com:AndBible/and-bible-superpowers.git
	update = none
