*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
/.idea
/app/release
/app/bibleview-js/node_modules/
/app/bibleview-js/.idea/
/app/src/main/assets/web/.idea/
/app/src/main/assets/web/.sourcemaps/
/app/src/main/assets/web/loader.js
/app/bibleview-js/dist/
/db/build/
*.env.*
/projectFilesBackup/
/app/src/main/assets/web/bibleview-js/
app/.idea/gradle.xml
app/.idea/misc.xml
app/settings.gradle
app/local.properties
app/gradlew.bat
app/gradlew
app/gradle/wrapper/gradle-wrapper.properties
app/gradle/wrapper/gradle-wrapper.jar
app/build.gradle
app/bibleview-js/package.json
app/bibleview-js/package-lock.json
app/.idea/vcs.xml
app/.idea/runConfigurations.xml
app/.idea/modules.xml
