<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.bible.android.activity"
      android:versionName="0.0.8" android:versionCode="8">
    <application android:icon="@drawable/bible" android:label="@string/app_name" android:name="net.bible.android.application.BibleApplication">
        <activity android:name=".StartupActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainBibleActivity"
                  android:label="@string/app_name"
                  android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity android:name=".ChooseDocument"
                  android:label="@string/chooseBook">
        </activity>
        <activity android:name=".ChoosePassageBook"
                  android:label="@string/choosePassageBookName">
        </activity>
        <activity android:name=".ChoosePassageChapter"
                  android:label="@string/choosePassageChapterName">
        </activity>
        <activity android:name=".Search"
                  android:label="@string/search">
        </activity>
        <activity android:name=".SearchResults"
                  android:label="@string/search">
        </activity>
        <activity android:name=".SearchIndex"
                  android:label="@string/search_index">
        </activity>
        <activity android:name=".NotesActivity"
                  android:label="@string/notes">
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/settings">
        </activity>
        <activity android:name=".History"
                  android:label="@string/history">
        </activity>
        <activity android:name=".Download"
                  android:label="@string/download"
                  android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity android:name=".EnsureBibleDownloaded"
                  android:label="@string/download">
        </activity>
        <activity android:name=".ProgressStatus"
                  android:label="@string/progress_status">
        </activity>
</application>
<uses-sdk android:minSdkVersion="4"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.INTERNET"/>
</manifest> 