/* colours:  http://www.w3schools.com/css/css_colornames.asp 
*/

body {
	line-height: 1.6em;
}

h1 {
	color: navy;
	text-align: center;
	font-size: 1.2em;
	margin-top: 1px;
	margin-bottom: 2px;
}

.verse {
	color: Gray;
	vertical-align: top;
	font-size: 0.7em;
}
.noteRef {
	color: Green;
	vertical-align: bottom;
	font-size: 0.7em;
}
.notes {
	font-size: 0.9em;
	line-height: 1.0em;
}