/* colours:  http://www.w3schools.com/css/css_colornames.asp 
*/

body {
	line-height: 1.6em; /* repeat this in .verse */
	font-size: 1.1em;
}

h1, .heading1 {
	color: navy;
	text-align: left;
	font-size: 1.2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

h1 a, .heading2, .heading3, .heading4 {
	color: navy;
	text-align: left;
	font-size: 0.9em;
	margin-top: 0em;
	margin-bottom: 0.2em;
	text-decoration: none
}

.verse {
	color: Gray;
	vertical-align: top;
	font-size: 0.7em;
	line-height: 1.6em; /* need line-height repeated here because otherwise the verse no drops to the bottom */
}
.noteRef {
	color: Green;
	vertical-align: bottom;
	font-size: 0.7em;
}
.strongs {
	color: #669999;
	font-size: 0.7em;
	vertical-align: sub;
	text-decoration: none
}
.redLetter {
	color: #800;
}
.transChange {
	font-style: italic;
}
.morphology {
	color: #4B7E4B;
	font-size: 0.7em;
	vertical-align: sub;
	text-decoration: none
}

.allStrongsRefsLink {
	display: block;
	float: right;
}

.myNoteImg {
	padding-right: 0.2em;
}

/** styles for hi tag e.g. <hi type="italic">123</hi> */ 
.hi_acrostic {
	/* NOOP */
}
.hi_bold, .hi_emphasis, .hi_illuminated {
	font-weight: bold;
}
.hi_italic {
	font-style: italic;
}
.hi_line-through {
	text-decoration: line-through;
}
.hi_normal {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}
.hi_small-caps {
	font-variant: small-caps;
}
.hi_sub {
	vertical-align: sub;
}
.hi_sup {
	vertical-align: super;
}
.hi_underline {
	text-decoration: underline;
}

.rtl-notusedyet {
	direction: rtl;
  	unicode-bidi: embed;
	display: block;
/*	-webkit-rtl-ordering: logical; */
}

