{% extends "base.html" %}
{% block extrahead %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'assets/andbible-docs.css' | url }}?v={{ config.extra.assets.docs_css }}">
  <link rel="stylesheet" href="/assets/css/embeds.css?v={{ config.extra.assets.embeds_css }}">
  <script src="{{ 'assets/andbible-docs-theme.js' | url }}"></script>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ 'assets/andbible-docs-sidebar.js' | url }}" defer></script>
  <script src="/assets/js/lite-yt.js?v={{ config.extra.assets.lite_yt_js }}" defer></script>
  {% set consent = config.extra.site.consent %}
  <script src="/assets/js/analytics.js?v={{ config.extra.assets.analytics_js }}" data-text="{{ consent.text }}" data-accept="{{ consent.accept }}" data-decline="{{ consent.decline }}" data-privacy="{{ consent.privacy }}"></script>
{% endblock %}
