<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2022-2022 Martin Denham, Tuomas Airaksinen and the AndBible contributors.
  ~
  ~ This file is part of AndBible: Bible Study (http://github.com/AndBible/and-bible).
  ~
  ~ AndBible is free software: you can redistribute it and/or modify it under the
  ~ terms of the GNU General Public License as published by the Free Software Foundation,
  ~ either version 3 of the License, or (at your option) any later version.
  ~
  ~ AndBible is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with AndBible.
  ~ If not, see http://www.gnu.org/licenses/.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    android:versionCode="845"
    android:versionName="5.0.845">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:minSdkVersion="24"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- Remove permissions added by onyx sdk (we really don't need them!) -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH" tools:node="remove" />
    <uses-permission android:name="android.permission.DUMP" tools:node="remove" />

    <!-- allow use on Google TV -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="net.bible.android.BibleApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:label"
        android:label="@string/app_name_short"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:supportsRtl="true"
        android:exported="true"
        >
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".StartupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:icon="@mipmap/ic_launcher" />

        <activity-alias
            android:name="net.bible.android.view.activity.Calculator"
            android:icon="@drawable/ic_calculator_color"
            android:label="@string/app_name_calculator"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".StartupActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- see Samsung multi-window info at bottom -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="net.bible.android.view.activity.page.MainBibleActivity"
            android:configChanges="keyboard|navigation|keyboardHidden|screenSize|locale"
            android:theme="@style/MainBibleViewTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:launchMode="singleTop"
            android:label="@string/app_name_short" />
        <activity
            android:name="net.bible.android.control.backup.BackupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/backup_and_restore"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity"
            />
        <activity
            android:name="net.bible.android.view.activity.navigation.ChooseDocument"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/chooseBook"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:parentActivityName="net.bible.android.view.activity.bookmark.ManageLabels"
            android:name="net.bible.android.view.activity.bookmark.LabelEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/edit_label"
            />
        <activity
            android:name="net.bible.android.view.activity.navigation.GridChoosePassageBook"
            android:configChanges="keyboardHidden|locale"
            android:label="@string/choosePassageBookName"
            android:theme="@style/GridChoosePassageTheme" />
        <activity
            android:name="net.bible.android.view.activity.navigation.GridChoosePassageChapter"
            android:configChanges="keyboardHidden|locale"
            android:label="@string/choosePassageChapterName"
            android:theme="@style/GridChoosePassageTheme" />
        <activity
            android:name="net.bible.android.view.activity.navigation.GridChoosePassageVerse"
            android:configChanges="keyboardHidden|locale"
            android:label="@string/choosePassageVerseName"
            android:theme="@style/GridChoosePassageTheme" />
        <activity
            android:name="net.bible.android.view.activity.search.Search"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/search"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="net.bible.android.view.activity.search.EpubSearch"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/search"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="net.bible.android.view.activity.search.SearchResults"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/search"
            />
        <activity
            android:name="net.bible.android.view.activity.search.EpubSearchResults"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/search"
            />
        <activity
            android:name="net.bible.android.view.activity.search.SearchIndex"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/search_index"
            />
        <activity
            android:name="net.bible.android.view.activity.search.SearchIndexProgressStatus"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/search_index"
            />
        <activity
            android:name="net.bible.android.view.activity.bookmark.Bookmarks"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/bookmarks_and_mynotes_title"
            android:launchMode="singleTop"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.bookmark.ManageLabels"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/manage_labels"
            android:parentActivityName="net.bible.android.view.activity.bookmark.Bookmarks"
            />
        <activity
            android:name="net.bible.android.view.activity.navigation.ChooseDictionaryWord"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/dictionary"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.navigation.genbookmap.ChooseGeneralBookKey"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/general_book"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.navigation.genbookmap.ChooseMapKey"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/doc_type_map"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.readingplan.ReadingPlanSelectorList"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/rdg_plan_selector_title"
            android:parentActivityName="net.bible.android.view.activity.readingplan.DailyReading"
            />
        <activity
            android:name="net.bible.android.view.activity.readingplan.DailyReadingList"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/rdg_plan_title"
            android:parentActivityName="net.bible.android.view.activity.readingplan.DailyReading"
            />
        <activity
            android:name="net.bible.android.view.activity.readingplan.DailyReading"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/rdg_plan_title"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/settings"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.workspaces.WorkspaceSelectorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/workspace_selector_title"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity"
            />
        <activity
            android:name="net.bible.android.view.activity.settings.ColorSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/workspace_color_settings_title"
            android:parentActivityName="net.bible.android.view.activity.settings.TextDisplaySettingsActivity" />
        <activity
            android:name="net.bible.android.view.activity.settings.SyncSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/cloud_sync_title"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.settings.TextDisplaySettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/text_display_settings_activity_title"
            android:launchMode="singleTop"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.navigation.History"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/history"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.download.CustomRepositories"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/custom_repositories"
            android:parentActivityName="net.bible.android.view.activity.download.DownloadActivity" />
        <activity
            android:name="net.bible.android.view.activity.download.CustomRepositoryEditor"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/custom_repositories"
            android:parentActivityName="net.bible.android.view.activity.download.CustomRepositories" />
        <activity
            android:name="net.bible.android.view.activity.speak.BibleSpeakActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/speak"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.speak.SpeakSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/speak_advanced_settings"
            android:launchMode="singleTop"
            android:parentActivityName="net.bible.android.view.activity.speak.BibleSpeakActivity" />
        <activity
            android:name="net.bible.android.view.activity.download.FirstDownload"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/download"
            android:parentActivityName=".StartupActivity"
            />
        <activity
            android:name="net.bible.android.view.activity.download.DownloadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/download"
            android:parentActivityName=".StartupActivity"
            />
        <activity
            android:name="net.bible.android.view.activity.download.ProgressStatus"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/progress_status"
            android:parentActivityName="net.bible.android.view.activity.page.MainBibleActivity" />
        <activity
            android:name="net.bible.android.view.activity.installzip.InstallZip"
            android:label="@string/install_zip_module"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="net.bible.android.view.activity.discrete.CalculatorActivity"
            android:label="@string/app_name_calculator"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="net.bible.android.view.activity.base.ErrorActivity"
            android:label="@string/error_occurred"
            android:exported="true"
            />
        <service
            android:name="net.bible.service.cloudsync.SyncService"
            android:foregroundServiceType="dataSync" />

        <service
            android:name="net.bible.service.device.speak.TextToSpeechNotificationManager$ForegroundService"
            android:foregroundServiceType="mediaPlayback" />

        <receiver
            android:name="net.bible.service.device.speak.TextToSpeechNotificationManager$NotificationReceiver"
            android:exported="true" />

        <receiver android:name="net.bible.service.device.speak.AndBibleMediaButtonReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- allow use with Samsung Note multi-window http://stackoverflow.com/questions/14111052/adding-multi-window-support-to-android-application -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />
        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest> 
