/* colours:  http://www.w3schools.com/css/css_colornames.asp 
*/

body {
	line-height: 1.6em; /* repeat this in .verse */
	font-size: 1.1em;
}

h1 {
	color: navy;
	text-align: left;
	font-size: 1.2em;
	margin-top: 0.3em;
	margin-bottom: 0.2em;
}

.verse {
	color: Gray;
	vertical-align: top;
	font-size: 0.7em;
	line-height: 1.6em; /* need line-height repeated here because otherwise the verse no drops to the bottom */
}
.noteRef {
	color: Green;
	vertical-align: bottom;
	font-size: 0.7em;
}
.strongs {
	color: #669999;
	font-size: 0.7em;
	vertical-align: sub;
	text-decoration: none
}
.redLetter {
	color: #800;
}
.transChange {
	font-style: italic;
}
.morphology {
	color: #4B7E4B;
	font-size: 0.7em;
	vertical-align: sub;
	text-decoration: none
}

.allStrongsRefsLink {
	display: block;
	float: right;
}

.rtl-notusedyet {
	direction: rtl;
  	unicode-bidi: embed;
	display: block;
/*	-webkit-rtl-ordering: logical; */
}

