/commons-compress-1.7.jar
/httpclient-android-4.3.3.jar
/jdom2-2.0.5.jar
/lucene-analyzers-3.0.3.jar
/lucene-core-3.0.3.jar
/lucene-snowball-3.0.3.jar
/slf4j-android-1.7.7.jar
/slf4j-api-1.7.7.jar
/xz-1.4.jar
